* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: white;
}

.heading {
  font-size: 24px;
  font-weight: bold;
  color: #272343;
}

.arrows {
  i {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
    cursor: pointer;

    &:hover {
      background-color: #007580;
      color: #fff;
    }
  }
}

/*  */
header {
  background: #272343;
  color: aliceblue;
  padding: 10px 0px 10px 0px;

  select {
    background-color: inherit;
    color: white;
    border: none;

    option {
      background-color: #272343;
    }
  }
}

/*  */
.search-area {
  background-color: #f0f2f3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  h4 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }
  .input-group {
    .form-control {
      border-right: none;
      border-color: transparent;

      &:focus {
        box-shadow: none;
      }
    }
    .btn {
      color: #000;
      border: 1px solid;
      border-left: none;
      border-color: transparent;
      background-color: white;
    }
  }
  .cursor-pointer {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #005f63 !important;
      color: white;
    }
    .badge {
      background-color: #005f63;
      font-size: 0.8rem;
      padding: 2px 6px;
      border-radius: 10px;
    }
  }
}

.navbar {
  background-color: white;
  transition: background-color 0.3s ease-in-out;

  &.scrolled {
    background-color: #005f63;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    .nav-link {
      &:hover {
        color: white;
      }
    }
  }

  .btn {
    border-radius: 0.5rem;
  }
  .nav-link {
    font-size: 14px;
    color: #6c757d;
    &:hover {
      color: #005f63;
    }
    &.text-primary {
      color: #005f63;
    }
  }
}

/*  */
.product {
  ul {
    li {
      position: relative;
      display: inline-block;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #007580;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .product-row {
    gap: 20px;
    scroll-behavior: smooth;

    .product {
      flex: 0 0 auto;
      width: 260px;
      position: relative;

      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      h5 {
        font-size: 16px;
        font-weight: 400;
        color: #007580;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        color: #555;
        margin-bottom: 0;
        text-align: start;
        font-weight: bold;

        .old-price {
          text-decoration: line-through;
          color: #999;
          font-size: 12px;
          margin-left: 5px;
        }
      }

      .badge {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px 10px;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        color: #fff;

        &.new {
          background-color: #007580;
        }

        &.sale {
          background-color: #ff6b6b;
        }
      }

      .wishlist {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
        color: #ddd;
        cursor: pointer;

        &:hover {
          color: #ff6b6b;
        }
      }

      .cart {
        width: 44px;
        height: 44px;
        font-size: 18px;
        background-color: #007580;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
          background-color: #005555b3;
        }
      }
    }
  }
}

/*  */
.category {
  padding: 3rem 1rem 0;

  .product-row {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    padding: 1rem 0;
    position: relative;

    .TopProduct {
      flex: 0 0 auto;
      width: 350px;
      position: relative;

      .TopImg {
        width: 100%;
        border-radius: 15px;

        &.ImgHeight {
          height: 350px;
          /* opacity: 0.5; */
        }
      }

      .fiture1 {
        width: 100%;
        padding: 10px;
        border-radius: 0 0 15px 15px;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        bottom: 0;
        text-align: start;
        color: #fff;

        h5 {
          font-size: 16px;
          font-weight: bold;
          margin: 0;
        }

        p {
          font-size: 14px;
          margin: 0;
          color: #ddd;
        }
      }
    }
  }
}

/*  */
.testimonialSection {
  margin-top: 50px;
  background: #e3e3e3;
  padding: 30px 0;

  .container {
    overflow: hidden;

    .clientCard {
      flex: 1 1 48%;
      margin: 10px;
      padding: 30px;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-10px);
      }

      .highlightBar {
        height: 100%;
        width: 5px;
        background: #029fae;
        margin-right: 20px;
      }
      .clientText {
        color: #636270;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
      }
      .clientImage {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 15px;
        box-shadow: 0 0 5px rgba(126, 127, 127, 0.5);
      }
      i {
        font-size: 80px;
        color: #e3e3e3;
      }
    }
  }
}

/*  */
footer {
  margin-top: 100px;

  .logoSection {
    h5,
    p {
      color: #272343;
    }

    h5 {
      padding: 10px 0 0 10px;
    }

    i {
      color: #636270;
      padding: 8px;
      transition: all 0.3s ease;

      &:hover {
        color: #029fae;
        border: 1px solid;
        border-radius: 50%;
        transform: translateY(-5px);
      }
    }
  }

  h5 {
    color: #9a9caa;
    font-size: 14px;
  }

  li:hover {
    transform: translateX(5px);
    transition: 0.3s;
  }

  a {
    color: #272343;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: #029fae;
      text-decoration: underline;
    }
  }

  .NewsletterSection {
    input {
      border: 1px solid #029fae;

      &:focus {
        box-shadow: none;
      }
    }

    button {
      background: #029fae;
      border: none;

      &:hover {
        background: rgba(2, 159, 174, 0.71);
      }
    }
  }

  .copyRight {
    p {
      color: #9a9caa;
    }

    a {
      color: #029fae;
      text-decoration: underline;
    }
  }
}
